.fluid-container {
    display: flex;
    position: absolute;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    height: min-content;
    padding-left: 4vw;
    .fluid {
        display: flex;
        flex-direction: column;
        form {
            input {
                width: 20vw;
            }
        }
        .fluid-text {
            margin-bottom: 3vh;
            width: max-content;
            span {
                color: $font-color;
            }
            h1 {
                font-weight: normal;
                color: $font-color;
            }
            .link-button {
                float: right;
            }
        }
    }
}
