// Typography
$font-family-sans-serif: 'Inter';
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-color: #333344;

// App Theme
$main: #ECF0F3;
$main-2: #D9D9D9;

$splash: #6951FF;

// Body
$body-bg: $main;
