
// Typography
$font-family-sans-serif: 'Nova Round';
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-color: #333344;

// App Theme
$main: #ECF0F3;
$main-dark: #303040;
$main-darker: #272734;
$foreground: #f1f5f8;
$foreground-darker: #e5e7e9;

// Body
$body-bg: $main;

// App Gradients
$gradient-main-90: linear-gradient(90deg, rgb(0, 238, 255) 0%, rgb(0, 100, 255) 100%);
$gradient-main-180: linear-gradient(180deg, rgb(0, 238, 255) 0%, rgb(0, 100, 255) 100%);

$gradient-error-90: linear-gradient(90deg, rgb(255, 51, 0) 0%, rgb(255, 115, 0) 100%);
$gradient-error-180: linear-gradient(180deg, rgb(255, 51, 0) 0%, rgb(255, 115, 0) 100%);

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
