// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {

    @media only screen and (max-width: 1920px) {
        font-size: 14px;
    }
    @media only screen and (max-width: 1760px) {
        font-size: 12px;
    }
    @media only screen and (max-width: 1500px) {
        font-size: 10px;
    }
    @media only screen and (max-width: 1201px) {
        font-size: 8px;
    }
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .fluid-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .fluid {
            position: relative;
            background-color: $foreground;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 16%;
            height: min-content;
            border-radius: 30px;
            padding: 5vh 0 3vh 0;
            box-shadow: 10px 0 35px 0 rgba(185, 185, 185, 0.2);

            .nv-logo {
                margin-bottom: 12%;
                height: 4vh !important;
            }

            .content-wrapper {
                width: 75%;
                text-align: center;
                flex-direction: column;
            }
        }

        .loader-container {
            background-color: $main;
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            flex-direction: column;
            top: 0;

            .loader {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .link-btn {
        color: #0064ff;
        cursor: pointer;
    }
}

.reg-button {
    .button-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5% 0 10% 0;

        .button {
            width: 40%;
        }
    }
}

// Elements
@import 'Elements/form';
@import 'Elements/button';

// Components
@import 'Components/fluidloader';
@import 'Components/page-block';
