// Fonts
@import url('https://fonts.googleapis.com/css?family=Inter');

// Variables
@import 'variables';

// Classnames
@import 'classnames';

// App Config
* {
    font-family: $font-family-sans-serif;
    margin: 0;
    padding: 0;

    font-size: 16px;
    @media (max-width: 1920px) {
        font-size: 14px;
    }
    @media (max-width: 1280px) {
        font-size: 10px;
    }
    @media (max-width: 640px) {
        font-size: 8px;
    }

    body {
        .app {
            background-color: var(--main);

            height: 100vh;
            width: 100vw;

            .container {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .loader-wrapper {
                    z-index: 1;
                    width: 50vw;
                    height: 50vh;
                    background-color: rgba(var(--main-rgb), .5);
                }
            }

            a {
                color: $splash;
            }

            #signature {
                position: absolute;
                bottom: 4vh;
                margin-left: 2.5vw;
                color: rgba(var(--font-color-rgb), .5);
            }
        }
    }

    .element-disabled {
        opacity: .5 !important;
        pointer-events: none !important;
    }
}

// Elements
@import "elements/elements";

// Components
@import "components/components";
