.fluid-loader {
    position: absolute;
    background-color: $foreground-darker;
    opacity: .6;
    z-index: 10;
    height: 100%;
    width: 100%;
    margin-top: -5vh;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
