.notification-portal {
    position: absolute;
    display: flex;
    justify-content: center;
    //height: 100%;
    z-index: 1;
    bottom: 4vh;
    right: 15vw;
    flex-direction: column;

    .notification {
        overflow: hidden;
        padding: 1rem 1rem 1rem 0;
        background-color: transparent;
        max-width: max-content;
        color: var(--font-color);

        .notification-message {
            padding: .5rem;
            border-right: 3px $splash solid;
            white-space: nowrap;
        }

        .inline-button {
            padding-left: .5rem;
        }
    }

    .notification-success {
        .notification-message {
            border-color: lime;
        }
    }

    .notification-warning {
        .notification-message {
            border-color: orange;
        }
    }

    .notification-danger {
        .notification-message {
            border-color: orangered;
        }
    }
}
