#register-details {
    width: 30vw;

    #register-name {
        display: grid;
        width: 30vw;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;

        .field-wrapper {
            min-width: auto;
        }
    }
}
