#register-details {
    width: 25vw;

    .fluid-heading {
        width: 25vw;
    }

    .fluid-content {
        width: 25vw;
    }

    #register-name {
        display: grid;
        width: 25vw;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }
}
