#oauth-authorization {

    .fluid-text {
        min-width: $max-width;
    }

    #oauth-scopes {
        margin-left: 2rem;
        margin-top: 1rem;

        color: rgba($font-color, .5);
    }

    #authorize-actions {
        justify-self: end;
        margin-top: 1rem;

        #oauth-approve {
            margin-left: 1rem;
        }
    }
}

#client-error {
    max-width: $max-width;
    color: rgba($font-color, .5);
}
